 /* Configuraçoes de Body */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #eef2f6;


}

.form_campo {
	border: 1px solid #999999;
}

.form_bt {
border: 1px solid #999999;
}


#global {
	height: auto;
	width: 922px;
	margin: 0 auto;
}

#topo {
	width: 922px;
	height: 340px;
}


#conteudo {
	width: 922px;
	background-color: #eef2f6;
	overflow: hidden;
	
	
}


.txt_chamada { font-family: arial; color: #101040; font-size: 22px;}


.textos {
	font-family: arial;
	font-size: 12px;	
	color: #666666;
}


a.link {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}


a.link:hover {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
}


a.link_barra {
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}


a.link_barra:hover {
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
}


a.txt_chamada:link{
	font-family: arial;
	color: #101040;
	font-size: 22px;
	text-decoration: none;
}

a.txt_chamada:visited{
	font-family: arial;
	color: #101040;
	 font-size: 22px;
	text-decoration: none;
}

a.txt_chamada:hover{
	font-family: arial;
	color: #101040;
	font-size: 22px;
	text-decoration: underline;
}

a.txt_chamada:active{
	font-family: arial;
	color: #101040;
	font-size: 22px;
	text-decoration: none;
}